.main_wrapper{
    width: 100%;
    position: absolute;
    z-index: 1;
    background: #fff;
}
.main_wrapper .main_title{
    color: #43484D;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    margin-top: 5.47%;
}
.main_wrapper .main_text{
    color: #43484D;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 1.86%;
}

.main_wrapper .color_bord{
    max-width: 1440px;
    min-width: 1440px;
    margin: 66px auto 110px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: left;
    box-sizing: border-box;
    padding: 0 170px;
}
.main_wrapper .color_bord .single_color{
    width: 320px;
    height: 260px;
    display: inline-block;
    margin-right: 60px;
    margin-bottom:56px;
    border-radius:12px;
    box-shadow: 0 12px 24px 0 rgba(209,209,209,0.32);
}
.main_wrapper .color_bord .single_color:nth-child(3n){
    margin-right: 0;
}
.main_wrapper .color_bord .single_color .color_like{
    margin-left: 21px;
    margin-top: 38px;
}
.main_wrapper .color_bord .single_color .color_like img{
    vertical-align: middle;
}
.main_wrapper .color_bord .single_color .color_like .color_like_num{
    color: #AFB8BF;
    font-size: 12px;
    margin-left: 11px;
}
.main_wrapper .color_bord .single_color .single_color_wrapper{
    width:100%;
    height:200px;
    border-radius:12px;
    overflow: hidden;
}
.main_wrapper .color_bord .single_color .single_color_wrapper .color_show{
    width: 100%;
    height: 200px;
    display: inline-block;
    border-radius: 12px 12px 0 0;
    position: relative;
}
.main_wrapper .color_bord .single_color .single_color_wrapper .close_pic{
    position: absolute;
    right: 20px;
    top: 24px;
}
.main_wrapper .color_bord .single_color .single_color_wrapper .close_pic:hover{
    cursor: pointer;
}
.main_wrapper .color_bord .single_color .single_color_wrapper .color_name{
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    left: 20px;
    bottom: 20px;

}
.main_wrapper .color_bord .single_color .color_col{
    width: 64px;
    height: 200px;
    display: inline-block;
    transition: width .5s;
}
.main_wrapper .color_bord .single_color  .color_col.color_animation{
    width: 80px;
}
.main_wrapper .color_bord .single_color .color_col:hover{
    cursor: pointer;
}

.main_wrapper .color_bord .single_color .color_col:nth-child(1){
    border-radius:12px 0 0 0;
}
.main_wrapper .color_bord .single_color .color_col:nth-last-child(1){
    border-radius: 0 12px 0 0;
}